/* Step 1 - Add a nice background */
body {
background-color: aliceblue;



}

/* Step 2 - Add a nice card style */
.card {
    margin: 20px;
    width: 65px;
    height: 65px;
    background-color: black;
    color: black;
    font-size: 20px;
    text-align: center
}
.picked {
    border: 2px solid #333;
    margin: 20px;
    width: 65px;
    height: 65px;
    background-color: coral;
    color: black;
    font-size: 20px;

    text-align: center
  }

/* Step 3 - Add a nice hover effect */
.card:hover {
    border: 2px solid red;
}

/* Step 4 (+4 points) - Write a style for a flipped card */
.flipped {
    margin: 20px;
    width: 65px;
    height: 65px;
    background-color: coral;
    color: black;
    font-size: 20px;
    text-align: center

}

/* Step 5 - Add a nice style to the message element */
#message {
    margin: 20px;
 width: 200px;
 height: 50px;
 border: 3px solid black;
 text-align: center
}

/* Step 6 - Add 5 more style changes... */
#cards{
    display: flex;
    flex-wrap:wrap;
  align-content: space-around;
}
/* 1) */
.container{
    display: flex;
flex-direction: column;
align-items: center;
}
/* 2) */
button{
    width: 200px;
    height: 100px;
    background-color: dodgerblue ;
    font-size: 20px;
}
/* 3) */
#score{
 width: 100px;
 height: 50px;
 border: 3px solid black;
 text-align: center
}
/* 4) */
#gameboard{
    display: flex;
flex-direction: column;
align-items: center;
}
/* 5) */